@import "tailwindcss";


html {
    font-size: var(--font-size);
}


/* CKEditor content style */
.ck-content h1 {
    font-size: 2em;
    font-weight: bold;
}

.ck-content h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.ck-content ul {
    list-style: disc;
    padding-left: 1.5rem;
}

.ck-content ol {
    list-style: decimal;
    padding-left: 1.5rem;
}

.ck-content blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1rem;
    color: #555;
}